@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200..1000;1,200..1000&family=Odor+Mean+Chey&display=swap');

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --odor-font: 'Odor Mean Chey', serif;
  --nunito-font: 'Nunito Sans', serif;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--nunito-font) !important;
  /* overflow-y: hidden; */
}
.user-dashboard::before {
  content: '';
  width: 100%;
  height: 202px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.odor-font {
  font-family: var(--odor-font);
}
.nunito-font {
  font-family: var(--nunito-font);
}
.leaflet-popup-content {
  margin: 0 !important;
  width: unset !important;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  padding: 0 !important;
  background: #03a5e0 !important;
}
.leaflet-popup-content p {
  margin: 0 !important;
}
.slick-prev:before,
.slick-next:before {
  display: none !important;
}
.slick-dots li.slick-active button:before {
  color: rgba(3, 165, 224, 1) !important;
}
.slick-dots li button:before {
  color: rgb(180, 180, 180) !important;
  font-size: 10px !important;
}
.slick-dots li {
  margin: 0 !important;
}

/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00aaff;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #00aaff #f1f1f1;
}
.scrollbar-0::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
  width: 0 !important;
}

.grayscale-map .leaflet-tile {
  filter: grayscale(100%);
}

/* bounce Welcome image */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
